{
    "openapi": "3.0.0",
    "info": {
        "title": "L5 OpenApi",
        "description": "L5 Swagger OpenApi description",
        "contact": {
            "email": "darius@matulionis.lt"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://platform.com/"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://platform.com/",
            "description": "L5 Swagger OpenApi dynamic host server"
        },
        {
            "url": "http://platform.com/",
            "description": "3252345345436346"
        }
    ],
    "paths": {
        "/api/user/password": {
            "post": {
                "tags": [
                    "用户组"
                ],
                "summary": "用户登录",
                "description": "返回浏览器秘钥",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "username",
                                    "password"
                                ],
                                "properties": {
                                    "username": {
                                        "description": "user 账户",
                                        "type": "string"
                                    },
                                    "password": {
                                        "description": "user 密码",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            },
                            "example": {
                                "username": "测试1234",
                                "password": "123456"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "SUCCESS/成功",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "token_type": {
                                            "description": "秘钥类型",
                                            "type": "string"
                                        },
                                        "expires_in": {
                                            "description": "有效秒数",
                                            "type": "int"
                                        },
                                        "access_token": {
                                            "description": "访问秘钥码",
                                            "type": "string"
                                        },
                                        "refresh_token": {
                                            "description": "刷新秘钥码",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                },
                                "example": {
                                    "api_key_security_example": {
                                        "token_type": "Bearer",
                                        "expires_in": 31536000,
                                        "access_token": "22.33.aLcl6kE-44-55-ojITv9hzsJd-66-77-wTn7hNZxZdQ7C0CIH4dNcxLepP6-bazu-7-7",
                                        "refresh_token": "1111"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/post/add": {
            "post": {
                "tags": [
                    "帖子组"
                ],
                "summary": "发布帖子",
                "description": "",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "title",
                                    "content",
                                    "is_video"
                                ],
                                "properties": {
                                    "title": {
                                        "description": "帖子标题",
                                        "type": "string"
                                    },
                                    "content": {
                                        "description": "帖子内容",
                                        "type": "string"
                                    },
                                    "is_video": {
                                        "description": "帖子是否有视频 0没有 1有",
                                        "type": "int"
                                    }
                                },
                                "type": "object"
                            },
                            "example": {
                                "title": "标题",
                                "content": "内容",
                                "is_video": "0"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "SUCCESS/成功"
                    }
                },
                "security": [
                    {
                        "api_token": []
                    }
                ]
            }
        },
        "/api/post": {
            "delete": {
                "tags": [
                    "帖子组"
                ],
                "summary": "删除帖子",
                "description": "删除用户名下帖子",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "post_id"
                                ],
                                "properties": {
                                    "post_id": {
                                        "description": "用户名下帖子ID",
                                        "type": "int"
                                    }
                                },
                                "type": "object"
                            },
                            "example": {
                                "post_id": 12
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "SUCCESS/成功"
                    },
                    "400": {
                        "description": "FALSE/失败"
                    }
                },
                "security": [
                    {
                        "api_token": []
                    }
                ]
            }
        },
        "/api/post/own": {
            "get": {
                "tags": [
                    "帖子组"
                ],
                "summary": "用户自发帖子列表",
                "description": "",
                "responses": {
                    "200": {
                        "description": "SUCCESS/成功",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "current_page": {
                                            "description": "页数",
                                            "type": "int"
                                        },
                                        "data": {
                                            "description": "帖子列表数据",
                                            "properties": {
                                                "id": {
                                                    "description": "id",
                                                    "type": "int"
                                                },
                                                "user_id": {
                                                    "description": "用户id",
                                                    "type": "int"
                                                },
                                                "title": {
                                                    "description": "标题",
                                                    "type": "string"
                                                },
                                                "content": {
                                                    "description": "内容",
                                                    "type": "string"
                                                },
                                                "view": {
                                                    "description": "浏览量",
                                                    "type": "int"
                                                },
                                                "hot": {
                                                    "description": "是否热帖 0否 1是",
                                                    "type": "int"
                                                },
                                                "perfect": {
                                                    "description": "是否加精 0否 1是",
                                                    "type": "int"
                                                },
                                                "top": {
                                                    "description": "是否设顶 0否 1是",
                                                    "type": "int"
                                                },
                                                "recommend": {
                                                    "description": "是否推荐 0否 1是",
                                                    "type": "int"
                                                },
                                                "shield": {
                                                    "description": "是否屏蔽 0否 1是",
                                                    "type": "int"
                                                },
                                                "is_video": {
                                                    "description": "是否视频帖子 0否 1是",
                                                    "type": "int"
                                                },
                                                "created_at": {
                                                    "description": "创建时间",
                                                    "type": "date"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "first_page_url": {
                                            "description": "",
                                            "type": "string"
                                        },
                                        "from": {
                                            "description": "",
                                            "type": "int"
                                        },
                                        "last_page": {
                                            "description": "",
                                            "type": "int"
                                        },
                                        "last_page_url": {
                                            "description": "",
                                            "type": "string"
                                        },
                                        "next_page_url": {
                                            "description": "",
                                            "type": "string"
                                        },
                                        "path": {
                                            "description": "",
                                            "type": "string"
                                        },
                                        "per_page": {
                                            "description": "",
                                            "type": "int"
                                        },
                                        "prev_page_url": {
                                            "description": "",
                                            "type": "int"
                                        },
                                        "to": {
                                            "description": "",
                                            "type": "int"
                                        },
                                        "total": {
                                            "description": "",
                                            "type": "int"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_token": []
                    }
                ]
            }
        },
        "/projects/{id}": {
            "get": {
                "tags": [
                    "project"
                ],
                "summary": "Get project information",
                "description": "Returns project data",
                "operationId": "getProjectById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Project id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "test",
                        "in": "path",
                        "description": "test id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "404": {
                        "description": "Resource Not Found"
                    }
                },
                "security": [
                    {
                        "oauth2_security_example": [
                            "write:projects",
                            "read:projects"
                        ]
                    }
                ]
            }
        },
        "/hello/{id}": {
            "get": {
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "123123",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "SUCCESS/成功",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "code": {
                                            "description": "标识",
                                            "type": "integer",
                                            "format": "int32"
                                        },
                                        "msg": {
                                            "description": "描述",
                                            "type": "string",
                                            "format": "int32"
                                        },
                                        "data": {
                                            "description": "返回数据",
                                            "properties": {
                                                "no": {
                                                    "description": "版本号",
                                                    "type": "string"
                                                },
                                                "account": {
                                                    "description": "用户",
                                                    "type": "string"
                                                },
                                                "real_name": {
                                                    "description": "权限名称",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                },
                                "example": {
                                    "code": 0,
                                    "msg": "success",
                                    "data": {
                                        "no": "1.3",
                                        "account": "admin",
                                        "real_name": "god"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "404": {
                        "description": "Resource Not Found"
                    }
                },
                "security": [
                    {
                        "api_key_security_example": []
                    }
                ]
            }
        },
        "/hello/file-upload": {
            "post": {
                "tags": [
                    "admin-member"
                ],
                "summary": "Upload one user document",
                "description": "Upload one user document",
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "required": [
                                    "file",
                                    "id",
                                    "type"
                                ],
                                "properties": {
                                    "file": {
                                        "description": "user document file",
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "id": {
                                        "description": "user id",
                                        "type": "integer"
                                    },
                                    "type": {
                                        "type": "string",
                                        "enum": [
                                            "verification_file",
                                            "id_card_file",
                                            "credit_card_file"
                                        ]
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/hello/xx-yy": {
            "post": {
                "tags": [
                    "admin-sales-type"
                ],
                "summary": "Store a newly created sales type item in storage",
                "description": "Store a newly created sales type item in storage",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "sales_name",
                                    "handle_fee",
                                    "commission",
                                    "status",
                                    "visible",
                                    "keywords",
                                    "sales_name_abbr",
                                    "charge_full_domestic",
                                    "default",
                                    "tiers"
                                ],
                                "properties": {
                                    "sales_name": {
                                        "description": "sales name",
                                        "type": "string"
                                    },
                                    "handle_fee": {
                                        "description": "handle fee",
                                        "type": "number",
                                        "format": "float",
                                        "example": "15.00"
                                    },
                                    "status": {
                                        "type": "integer",
                                        "enum": [
                                            1,
                                            0
                                        ]
                                    },
                                    "charge_full_domestic": {
                                        "description": "charge full domestic",
                                        "type": "integer"
                                    },
                                    "default": {
                                        "type": "string",
                                        "enum": [
                                            1,
                                            0
                                        ]
                                    },
                                    "tiers": {
                                        "description": "tiers",
                                        "type": "array",
                                        "items": {
                                            "properties": {
                                                "type": {
                                                    "type": "string",
                                                    "enum": [
                                                        "flat",
                                                        "basic",
                                                        "subtract",
                                                        "platform"
                                                    ]
                                                },
                                                "from": {
                                                    "description": "from",
                                                    "type": "integer",
                                                    "example": "0"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/admin/member/{id}": {
            "patch": {
                "tags": [
                    "admin-member"
                ],
                "summary": "get member info",
                "description": "get member info",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "member id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "description": "user name",
                                        "type": "string"
                                    },
                                    "display_currency": {
                                        "type": "string",
                                        "enum": [
                                            "USD",
                                            "JPY"
                                        ]
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/hello/delete/{id}": {
            "delete": {
                "tags": [
                    "admin-member"
                ],
                "summary": "Remove the specified resource from storage",
                "description": "Remove the specified resource from storage",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "member id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            }
        }
    },
    "components": {
        "securitySchemes": {
            "Password Based": {
                "type": "oauth2",
                "description": "Use a global client_id / client_secret and your username / password combo to obtain a token",
                "in": "header",
                "flows": {
                    "password": {
                        "authorizationUrl": "/oauth/authorize",
                        "tokenUrl": "/oauth/token",
                        "refreshUrl": "/oauth/token/refresh",
                        "scopes": []
                    }
                },
                "scheme": "https"
            },
            "api_token": {
                "description": "Bearer",
                "type": "apiKey",
                "in": "header",
                "name": "Authorization"
            }
        }
    },
    "tags": [
        {
            "name": "project",
            "description": "Everything about your Projects",
            "externalDocs": {
                "description": "Find out more",
                "url": "http://swagger.io"
            }
        },
        {
            "name": "admin-member",
            "description": "Operations about user",
            "externalDocs": {
                "description": "Find out more about",
                "url": "http://swagger.io"
            }
        }
    ],
    "externalDocs": {
        "description": "Find out more about Swagger",
        "url": "http://swagger.io"
    }
}