{
    "openapi": "3.0.0",
    "info": {
        "title": "L5 OpenApi",
        "description": "L5 Swagger OpenApi description",
        "contact": {
            "email": "darius@matulionis.lt"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://hema.com/"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://hema.com/",
            "description": "L5 Swagger OpenApi dynamic host server"
        },
        {
            "url": "http://haha.com/",
            "description": "3252345345436346"
        }
    ],
    "paths": {
        "/projects/{id}": {
            "get": {
                "tags": [
                    "project"
                ],
                "summary": "Get project information",
                "description": "Returns project data",
                "operationId": "getProjectById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Project id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "test",
                        "in": "path",
                        "description": "test id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "404": {
                        "description": "Resource Not Found"
                    }
                },
                "security": [
                    {
                        "oauth2_security_example": [
                            "write:projects",
                            "read:projects"
                        ]
                    }
                ]
            }
        },
        "/hello/{id}": {
            "get": {
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "123123",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "SUCCESS/成功",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "code": {
                                            "description": "标识",
                                            "type": "integer",
                                            "format": "int32"
                                        },
                                        "msg": {
                                            "description": "描述",
                                            "type": "string",
                                            "format": "int32"
                                        },
                                        "data": {
                                            "description": "返回数据",
                                            "properties": {
                                                "no": {
                                                    "description": "版本号",
                                                    "type": "string"
                                                },
                                                "account": {
                                                    "description": "用户",
                                                    "type": "string"
                                                },
                                                "real_name": {
                                                    "description": "权限名称",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                },
                                "example": {
                                    "code": 0,
                                    "msg": "success",
                                    "data": {
                                        "no": "1.3",
                                        "account": "admin",
                                        "real_name": "god"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "404": {
                        "description": "Resource Not Found"
                    }
                },
                "security": [
                    {
                        "api_key_security_example": []
                    }
                ]
            }
        },
        "/hello/file-upload": {
            "post": {
                "tags": [
                    "admin-member"
                ],
                "summary": "Upload one user document",
                "description": "Upload one user document",
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "required": [
                                    "file",
                                    "id",
                                    "type"
                                ],
                                "properties": {
                                    "file": {
                                        "description": "user document file",
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "id": {
                                        "description": "user id",
                                        "type": "integer"
                                    },
                                    "type": {
                                        "type": "string",
                                        "enum": [
                                            "verification_file",
                                            "id_card_file",
                                            "credit_card_file"
                                        ]
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/hello/xx-yy": {
            "post": {
                "tags": [
                    "admin-sales-type"
                ],
                "summary": "Store a newly created sales type item in storage",
                "description": "Store a newly created sales type item in storage",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "sales_name",
                                    "handle_fee",
                                    "commission",
                                    "status",
                                    "visible",
                                    "keywords",
                                    "sales_name_abbr",
                                    "charge_full_domestic",
                                    "default",
                                    "tiers"
                                ],
                                "properties": {
                                    "sales_name": {
                                        "description": "sales name",
                                        "type": "string"
                                    },
                                    "handle_fee": {
                                        "description": "handle fee",
                                        "type": "number",
                                        "format": "float",
                                        "example": "15.00"
                                    },
                                    "status": {
                                        "type": "integer",
                                        "enum": [
                                            1,
                                            0
                                        ]
                                    },
                                    "charge_full_domestic": {
                                        "description": "charge full domestic",
                                        "type": "integer"
                                    },
                                    "default": {
                                        "type": "string",
                                        "enum": [
                                            1,
                                            0
                                        ]
                                    },
                                    "tiers": {
                                        "description": "tiers",
                                        "type": "array",
                                        "items": {
                                            "properties": {
                                                "type": {
                                                    "type": "string",
                                                    "enum": [
                                                        "flat",
                                                        "basic",
                                                        "subtract",
                                                        "platform"
                                                    ]
                                                },
                                                "from": {
                                                    "description": "from",
                                                    "type": "integer",
                                                    "example": "0"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/admin/member/{id}": {
            "patch": {
                "tags": [
                    "admin-member"
                ],
                "summary": "get member info",
                "description": "get member info",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "member id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "description": "user name",
                                        "type": "string"
                                    },
                                    "display_currency": {
                                        "type": "string",
                                        "enum": [
                                            "USD",
                                            "JPY"
                                        ]
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/hello/delete/{id}": {
            "delete": {
                "tags": [
                    "admin-member"
                ],
                "summary": "Remove the specified resource from storage",
                "description": "Remove the specified resource from storage",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "member id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            }
        }
    },
    "components": {
        "securitySchemes": {
            "Password Based": {
                "type": "oauth2",
                "description": "Use a global client_id / client_secret and your username / password combo to obtain a token",
                "in": "header",
                "flows": {
                    "password": {
                        "authorizationUrl": "/oauth/authorize",
                        "tokenUrl": "/oauth/token",
                        "refreshUrl": "/oauth/token/refresh",
                        "scopes": []
                    }
                },
                "scheme": "https"
            }
        }
    },
    "tags": [
        {
            "name": "project",
            "description": "Everything about your Projects",
            "externalDocs": {
                "description": "Find out more",
                "url": "http://swagger.io"
            }
        },
        {
            "name": "admin-member",
            "description": "Operations about user",
            "externalDocs": {
                "description": "Find out more about",
                "url": "http://swagger.io"
            }
        }
    ],
    "externalDocs": {
        "description": "Find out more about Swagger",
        "url": "http://swagger.io"
    }
}